<div class="wrapper" [ngStyle]="{
    'flex-direction':param.size === 1? 'column':'row'
}">
    <div [ngStyle]="{
        'width':param.size === 1?'100%':'20%'
    }">
        <img src="{{image}}" width="64" height="64" class="image" [ngStyle]="{
            'margin-left':param.size===1? '4vw':'2vw'
        }">
    </div>
    <div [ngStyle]="{
        'width':param.size === 1 ? '100%':'80%'
    }">
        <div class="title" [ngStyle]="{
            'flex-direction':param.size === 1? 'column':'row',
            'font-size': param.size === 1? '5vw':'2vw'
        }">
            <div style="margin: 6px;">A review created by {{author}} </div>
            <div class='rate'> <span>&#9733; {{rate}}</span></div>
        </div>
        <div style="margin-top: 24px;color: gray;">
            Written by {{author}} on {{date}}
        </div>
        <div style="margin-top:12px" class="content">
            {{content}}
        </div>
        <div style="margin-top: 12px; color: rgb(50, 23, 197);text-decoration: underline;">
            <a href="{{url}}" target="_blank">
                Read the rest
            </a>
        </div>

    </div>
</div>